Carthage/Build/.SwiftWebSocket.version
Carthage/Build/iOS/0420CC78-214E-35C1-8875-0C8396EF2FCB.bcsymbolmap
Carthage/Build/iOS/ABFBC715-257B-3E65-A403-014578A8E343.bcsymbolmap
Carthage/Build/iOS/SwiftWebSocket.framework/Info.plist
Carthage/Build/iOS/SwiftWebSocket.framework/SwiftWebSocket
Carthage/Build/iOS/SwiftWebSocket.framework.dSYM/Contents/Info.plist
Carthage/Build/iOS/SwiftWebSocket.framework.dSYM/Contents/Resources/DWARF/SwiftWebSocket
Carthage/Build/iOS/SwiftWebSocket.framework/Headers/SwiftWebSocket-Swift.h
Carthage/Build/iOS/SwiftWebSocket.framework/Headers/SwiftWebSocket.h
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/module.modulemap
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm.swiftdoc
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm.swiftmodule
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm64.swiftdoc
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm64.swiftmodule
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/i386.swiftdoc
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/i386.swiftmodule
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftdoc
Carthage/Build/iOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftmodule
Carthage/Build/Mac/SwiftWebSocket.framework/Headers
Carthage/Build/Mac/SwiftWebSocket.framework/Modules
Carthage/Build/Mac/SwiftWebSocket.framework/Resources
Carthage/Build/Mac/SwiftWebSocket.framework/SwiftWebSocket
Carthage/Build/Mac/SwiftWebSocket.framework.dSYM/Contents/Info.plist
Carthage/Build/Mac/SwiftWebSocket.framework.dSYM/Contents/Resources/DWARF/SwiftWebSocket
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/Current
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/SwiftWebSocket
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Headers/SwiftWebSocket-Swift.h
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Headers/SwiftWebSocket.h
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Modules/module.modulemap
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftdoc
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftmodule
Carthage/Build/Mac/SwiftWebSocket.framework/Versions/A/Resources/Info.plist
Carthage/Build/tvOS/4E01B44A-AD42-39BF-87C9-D1AA9F01BD43.bcsymbolmap
Carthage/Build/tvOS/SwiftWebSocket.framework/Info.plist
Carthage/Build/tvOS/SwiftWebSocket.framework/SwiftWebSocket
Carthage/Build/tvOS/SwiftWebSocket.framework.dSYM/Contents/Info.plist
Carthage/Build/tvOS/SwiftWebSocket.framework.dSYM/Contents/Resources/DWARF/SwiftWebSocket
Carthage/Build/tvOS/SwiftWebSocket.framework/Headers/SwiftWebSocket-Swift.h
Carthage/Build/tvOS/SwiftWebSocket.framework/Headers/SwiftWebSocket.h
Carthage/Build/tvOS/SwiftWebSocket.framework/Modules/module.modulemap
Carthage/Build/tvOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm64.swiftdoc
Carthage/Build/tvOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/arm64.swiftmodule
Carthage/Build/tvOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftdoc
Carthage/Build/tvOS/SwiftWebSocket.framework/Modules/SwiftWebSocket.swiftmodule/x86_64.swiftmodule
Carthage/Checkouts/SwiftWebSocket/.gitignore
Carthage/Checkouts/SwiftWebSocket/.swift-version
Carthage/Checkouts/SwiftWebSocket/CHANGELOG.md
Carthage/Checkouts/SwiftWebSocket/LICENSE
Carthage/Checkouts/SwiftWebSocket/Package.swift
Carthage/Checkouts/SwiftWebSocket/README.md
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.podspec
Carthage/Checkouts/SwiftWebSocket/Carthage/Build
Carthage/Checkouts/SwiftWebSocket/Source/Info-tvOS.plist
Carthage/Checkouts/SwiftWebSocket/Source/Info.plist
Carthage/Checkouts/SwiftWebSocket/Source/SwiftWebSocket.h
Carthage/Checkouts/SwiftWebSocket/Source/WebSocket.swift
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/project.pbxproj
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/xcshareddata/xcschemes/SwiftWebSocket-iOS.xcscheme
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/xcshareddata/xcschemes/SwiftWebSocket-OSX.xcscheme
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/xcshareddata/xcschemes/SwiftWebSocket-tvOS.xcscheme
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/xcshareddata/xcschemes/Test-iOS.xcscheme
Carthage/Checkouts/SwiftWebSocket/SwiftWebSocket.xcodeproj/xcshareddata/xcschemes/Test-OSX.xcscheme
Carthage/Checkouts/SwiftWebSocket/Test/Info.plist
Carthage/Checkouts/SwiftWebSocket/Test/Test.swift
Carthage/Checkouts/SwiftWebSocket/Test-ObjectiveC/Connection.h
Carthage/Checkouts/SwiftWebSocket/Test-ObjectiveC/Connection.m
Carthage/Checkouts/SwiftWebSocket/Test-ObjectiveC/Info.plist
Carthage/Checkouts/SwiftWebSocket/Test-ObjectiveC/Test_ObjectiveC.m
Carthage/Checkouts/SwiftWebSocket/Test/Autobahn/.gitignore
Carthage/Checkouts/SwiftWebSocket/Test/Autobahn/autobahn.swift
Carthage/Checkouts/SwiftWebSocket/Test/Autobahn/fuzzingserver.json
Carthage/Checkouts/SwiftWebSocket/Test/Autobahn/run.sh
Carthage/Checkouts/SwiftWebSocket/tools/docs.sh
Carthage/Checkouts/SwiftWebSocket/tools/echo.html
Carthage/Checkouts/SwiftWebSocket/tools/gh-pages.sh
Carthage/Checkouts/SwiftWebSocket/tools/run-objc-test.sh
Carthage/Checkouts/SwiftWebSocket/tools/res/badge.psd
Carthage/Checkouts/SwiftWebSocket/tools/res/docs.png
Carthage/Checkouts/SwiftWebSocket/tools/res/failing.png
Carthage/Checkouts/SwiftWebSocket/tools/res/logo.png
Carthage/Checkouts/SwiftWebSocket/tools/res/passing.png
Carthage/Checkouts/SwiftWebSocket/tools/res/swift.png
Carthage/Checkouts/SwiftWebSocket/tools/res/swift.psd
Carthage/Checkouts/SwiftWebSocket/tools/server/.gitignore
Carthage/Checkouts/SwiftWebSocket/tools/server/run-server.sh
Carthage/Checkouts/SwiftWebSocket/tools/server/server.go
Carthage/Checkouts/SwiftWebSocket/tools/server/ssl/mkcert.sh
